.car_details_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: 30px 150px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image_gallery {
  display: flex;
  flex-direction: row;
  gap:20px;
  margin-right: 20px;
}

.thumbnail_list {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}

.main_image_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main_image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.main_image:hover {
  transform: scale(1.5);
}

.car_info {
  flex: 1;
  padding: 20px;
}

.car_name {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.car_description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 15px;
}

.car_quantity {
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 10px;
}

.car_price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e67e22;
  margin-bottom: 20px;
}

.booking_button {
  margin-top: 10px;
  background-color: #e67e22;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease-in-out;
}

.c1{
  color: #fff;
}

.booking_button:hover {
  background-color: #d35400;
}

.date_picker {
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
}

@media (max-width: 768px) {
  .car_details_container {
    flex-direction: column;
    padding: 15px;
  }

  .main_image {
    width: 100%;
    max-width: 400px;
  }

  .car_name {
    font-size: 1.8rem;
  }

  .car_description {
    font-size: 1.1rem;
  }

  .car_price {
    font-size: 1.4rem;
  }
}

.date_picker_container {
  margin: 1em 0;
}



